@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
html {
  height: 100%;
  width: 100%;
}

.container{
  text-align: center;
  
}
h1{
   box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
  color:white;
}

.calculator{
  padding: 20px;
  background-color: #3a4452;
  box-shadow:  1px 2px 10px rgba(0, 0, 0, 1);
  display: inline-block;
  border-radius: 20px;
}

table{
  margin-top:30px;
  margin: auto;
}
body{
  background-color: #3a4452;
}

input{
  font-size: 20px;
  border:3px solid #3a4452 ;
  background-color: #3a4452;
  padding: 5px;
  border-radius:8px;
  color: white;
}
button{
  background-color:#3a4452 ;
  width: 60px;
  height: 40px;
  font-size: large;
  border-radius: 15px;
  box-shadow:  1px 2px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: 1px solid #4f4f4f;
  color: white;
  padding: 10px;
  font-weight: bold;
}
 .col{
  color: #33ffd8;
}
button:hover{
  box-shadow:  0 0 10px rgba(0, 0, 0, 1);
  border: 0.5px solid #616a75 ;
}

